* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
li {list-style: none}
a {text-decoration: none; font-size: 15px;}
p {font-size: 15px;}
h3 {font-weight: 100;font-size: 30px;}
/*----------1. Header----------*/
#main-block .header {
    height: 46px;
    background-color: black;
    box-shadow: 0 0 3px 1px rgb(54, 54, 54);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
#main-block .header #nav {
    display: inline-block;
}
#main-block .header #nav > li {
    display: inline-block;
}
#main-block .header #nav > li > a {
    display: block;
    line-height: 46px;
    padding: 0 22px;
    color: white;
    text-transform: uppercase;
}
#main-block .header #nav li:hover > a {
    background-color: #ccc;
    color: black;
}
.sub-nav-down-icon {
    font-size: 16px;
}
li#more-inf {
    position: relative;
}
#main-block .header #sub-nav {
    background-color: white;
    position: absolute;
    display: none;
    box-shadow: 2px 2px 5px black;
}
li#more-inf:hover > #sub-nav {
    display: block;
}
#main-block .header #sub-nav > li {
    display: block;
}
#main-block .header #sub-nav > li > a {
    display: block;
    color: black;
    line-height: 42px;
    padding: 0 20px;
}
#main-block .header #search-btn {
    float: right;
    font-size: 17px;
    line-height: 46px;
    padding: 0 28px;
    color: white;
}
#main-block .header #search-btn:hover {
    cursor: pointer;
    background-color: red;
}

/*----------2. Slider----------*/
#slider {
    margin-top: 46px;
}
#slider img {
    position: relative;
    width: 100%;
    z-index: 0.5;
}
#slider>div {
    position: relative;
}
.slogan {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 50px;
    color: white;
    z-index: 1.5;
}
.slogan > h3 {
    margin-bottom: 25px;
    font-weight: 500;
}
.slogan>p {
    font-weight: 600;
}
/*effect*/
.hide {display: none;}
.show {display: block;}

/*----------3. Content----------*/
#content #about-band,
#content #booking,
#content #contact-block {
    width: 780px;
    margin: auto;
}
#content #heading {
    padding: 40px 0;
    display: block;
}
/*--------about-band--------*/

#content .content-section {
    margin-top: 80px!important;
}
#content #about-band {
    margin-top: 40px!important;
    text-align: center;
}
#content #about-band #mem-picture {
    width: 100%;
    display: flex;
}
#content #mem-picture > div {
    width: 155px;
    display: inline-block;
    margin: auto;
}
#content #mem-picture img {
    width: 100%;
}
#content #mem-picture label {
    display: block;
    margin: 15px 0;
}
#content #about-band h3 {
    display: block;
    margin: 15px 0;
}
#content #about-band i {
    display: block;
    margin: 15px 0;
}
#content #about-band p {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 15px 0;
    text-align: justify!important;
}
/*--------booking-ticket-heading--------*/
#booking #heading {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 35px;
}
#booking #heading h3 {
    display: block;
    color: white;
    margin: 15px 0;
}
#booking #heading i {
    display: block;
    margin: 15px 0;
}
#booking #slot-inf .cont-inf {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-bottom-width: 1px!important;
    border-width: 0;
    border-color: #ccc;
}
#booking .cont-inf > p {
    display: inline-block;
}
#booking .cont-inf p.months{
    height: 40px;
    line-height: 40px!important;
    color: grey;
    padding: 0 20px;
}
#booking .cont-inf p.status {
    color: white;
    font-size: 15px;
    padding: 3px 6px;
    background-color: red;
}
#booking .cont-inf p.still {
    color: white;
    font-size: 15px;
    background-color: black;
    padding: 3px 8px;
    margin: 7px 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    float: right;
}
/*-------booking-ticket-boxes---------*/
#content #places-at {
    padding-top: 30px!important;
    padding-bottom: 110px!important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#content #places-at .places {
    width: 240px;
    display: inline-block;
    background-color: white;
}
#content .places img {
    width: 100%;
}
#content .places > img:hover {
    opacity: 0.60;
}
#content .places .content p {
    display: block;
    margin: 15px;
    margin-bottom: 0;
}
#content .places .submit-btn {
    background-color: black;
    color: white;
    float: left;
    margin: 15px;
}
#content .submit-btn p {
    display: block;
    padding: 10px 15px;
}
#content .submit-btn p:hover {
    background: #ccc;
    color: black;
    cursor: pointer;
}
/*--------contact-block--------*/
#contact-block #heading {
    text-align: center;
}
#contact-block #heading h3,
#contact-block #heading i {
    display: block;
    margin: 20px;
}
#contact-block #contact-inf p {
    font-size: 17px;
    line-height: 25px;
}
#contact-block #contact-inf i {
    margin-right: 10px;
    float: left;
    line-height: 25px;
}
#contact-block #guest-block {
    position: relative!important;
}
#contact-block #guest-block #guest-inf {
    width: 400px;
    position: absolute!important;
    top: 0!important;
    right: 0!important;
}
#contact-block #guest-inf input[type="text"] {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    height: 40px;
    width: 385px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
}
#contact-block #guest-inf input[type="submit"] {
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 11px 13px;
    float: right;
    font-size: 15px;
    background-color: black;
    border-width: 0;
    color: white;
}
#contact-block #guest-inf input[type="submit"]:hover {
    cursor: pointer;
    background: #ccc;
    color: black;
}
#contact-block #guest-inf input.profile {
    width: 185px!important;
}

#content img#map-img {
    width: 100%;
    display: block;
    margin-top: 120px;
}
/*----------4. Footer----------*/
#footer {
    margin: 60px;
    color: grey!important;
    text-align: center;
}
#footer a {
    color: rgb(82, 82, 82);
}
#footer #icons {
    padding: 20px;
}
#footer #icons i {
    font-size: 20px;
}
#footer #icons i:hover {
    color: #ccc;
}
#footer #source-text a {
    text-decoration:underline;
}

/*----------Modal----------*/
#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}
#modal #container {
    z-index: 7;
    margin: 0 16%;
    background-color: white;
    animation: effect-open ease 0.5s;
}
#modal .header {
    background-color: #009688;
    padding: 32px 16px;
    text-align: center;
    position: relative;
}
#modal .header h1 {
    display: block;
    color: white;
    font-weight: 100;
    margin: 10px 0;
}
#modal #close-btn {
    padding: 20px 15px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #009688;
    border-width: 0;
}
#modal .content {
    padding: 16px;
}
#modal .content input,
#modal .content p {
    display: block;
    margin: 20px 0;
    font-size: 16px;
}

#modal .content input {
    padding: 10px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

#modal .content a {
    text-decoration: underline;
}
#modal .content #pay-btn {
    background-color: #009688;
    padding: 18px;
    width: 100%;
}
#modal .content #sub-close-btn {
    background-color: red;
    padding: 12px 18px;
}
#modal .content #more-inf {
    float: right;
}
#modal .content #pay-btn,
#modal .content #sub-close-btn {
    border-width: 0;
    color: white;
    font-size: 16px;
    margin: 10px 0;
}
#modal #close-btn:hover,
#modal .content #pay-btn:hover,
#modal .content #sub-close-btn:hover {
    cursor: pointer;
    color: black;
    background-color: #ccc;
}

@keyframes effect-open {
    from {
        transform: translateY(-150px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes effect-close {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-150px);
        opacity: 0;
    }
}
